/* .campaign-page {
  height: 100vh;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(147, 248, 250, 1) 48%,
    rgba(55, 242, 246, 1) 83%
  );
  @apply absolute top-0 w-full;
}
 */