.btn-donation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 16px 30px !important;
  box-sizing: border-box;
  height: 46px;
  font-size: 0.85714em;

  span {
    font-size: 75%;
    i {
      margin-right: 10px;
    }
  }
}
