.demo-logo-vertical {
  // margin: 16px;
  // background: rgba(255, 255, 255, 0.2);
  // border-radius: 6px;
  display: flex;
  justify-content: center;

  img {
    // height: 32px;
    width: 100px;
    height: auto;
    object-fit: contain;
  }
}
